@import url(style.css);

aside {
  width: 20%;
}

body {
  display: flex;
}

.main {
  /*max-width: 50%;*/
  width: 73%;
  margin-top: 50px;
  margin-left: 70px;
}

.title_reviews {
  font-family: IBM Plex Sans, serif;
  font-style: italic;
  font-weight: 600;
  font-size: 1.4vw;
  text-align: left;
}

.subtitle_reviews {
  font-family: IBM Plex Sans, serif;
  font-weight: 700;
  font-size: 2.7vw;
  text-transform: uppercase;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #B86ADF, #FF6C63, #FFB147);
}

.container_reviews {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  font-family: IBM Plex Sans, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.img_reviewers {
  width: 200px;
  border-radius: 10%;
}


/*Мои стили*/

.reviews {margin-top: 20px;}

.review_name   {
  font-family: IBM Plex Sans, serif;
  font-weight: 600;
  font-size: 1.8vw;
  margin-top: 40px;
}

.review {display: flex;}

.review__img {margin-top: 15px; margin-bottom: 15px;}

.review_text {
  /*margin-top: 70px;*/
  padding: 20px 80px;
  font-family: IBM Plex Sans, serif;
  font-style: normal;
  text-align: justify;
}

.review__line {
  height: 0.5px;
  width: 95%;
  background-color: #d4d2d2;
  /*margin-top: 20px;*/
}

details {color: #333;}

summary:before {
  content: "+";
  font-size: 60px;
  height: 200px;
  font-weight: 200;
  margin: 10px 45px 15px 15px;
  float: left;
}

details[open] summary:before {
  content: "_";
  margin: 10px 45px 15px 15px;
  color: #333;
}

details > summary {
  padding: 5px;
  color: #333;
  cursor: pointer;
  list-style: none;
}