h3, span, p {
    margin: 0;
}

html {
    box-sizing: border-box;
    color: #141313;
}

*, *::after, *::before {
    box-sizing: inherit;
    color: inherit;
}

.main {
max-width: 1350px;
}

.about {
    padding-top: 100px;
    padding-left: 8%;
}

.about__inner{
    display: flex;
    gap: 8%;
}

.welcome-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-block__title {
    font-size: 48px;
    margin-top: 32px;
    background-image: linear-gradient(to right, #B86ADF, #FF6C63, #FFB147);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome-block__description {
margin-top: 10px;
}

.welcom-block__download-link {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    text-decoration: none;
}

.welcom-block__download-link:hover {
    text-decoration: underline;
}

.welcom-block__download-link:active {
    font-size: 19px;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #14131320;
}

.contacts__item{
    min-width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
} 

.info{
    display: flex;
    gap: 30px;
    margin-top: 48px;
}

.info__item {
    width: calc(50% - 30px);

}

.info__item-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info__item-number {
    font-size: 48px;
    background-image: linear-gradient(to right, #B86ADF, #FF6C63, #FFB147);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info__item-text {
    display: flex;
    flex-direction: column;
}

.info__item-description {
    margin-top: 20px;
    margin-bottom: 0;
}

.content-block__text{
    background-color: #141313;
    color: #FFFFFF;
    min-height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    padding: 40px;
}

.experience {
margin-top: 50px;
background: linear-gradient(to right, #B86ADF, #FF6C63, #FFB147);
color: #FFFFFF; 
display: flex;
}

.resume {
    padding: 130px 10%;
}

.resume__btn {
    height: 56px;
    background-color: #141313;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 8px;
    padding: 0 6%;
}