@font-face {
    src: url("assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
    font-family: 'IBM_Plex_Sans_regular';
}
@font-face {
    src: url("assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf");
    font-family: 'IBM_Plex_Sans_bold';
}

@font-face {
    src: url("assets/fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf");
    font-family: 'IBM_Plex_Sans_BoldItalic';
}

@font-face {
    src: url("assets/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.ttf");
    font-family: 'IBM_Plex_Sans_SemiBoldItalic';
}
@font-face {
    src: url("assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
    font-family: 'IBM_Plex_Sans_medium';
}

h2, h3, span, p {
    margin: 0;
}

html {
    box-sizing: border-box;
    color: #141313;
}

*, *::after, *::before {
    box-sizing: inherit;
    color: inherit;
    font-size: 18px;
}

.main {
max-width: 1350px;
font-size: 18px;
}

.about {
    padding-top: 100px;
    padding-left: 8%;
}
.about__description {
    margin-top: 12px;
    text-transform: uppercase;
}

.about__inner {
    margin-top: 48px;
    display: flex;
    gap: 8%;
}

.welcome-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-block__title{
    margin-top: 32px;
}

.welcome-block__title, .info__item-number,  .team__title {
    background-image: linear-gradient(to right, #B86ADF, #FF6C63, #FFB147);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.welcome-block__description {
    margin-top: 10px;
}

.welcom-block__download-link {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    text-decoration: none;
}

.welcom-block__download-link:hover {
    text-decoration: underline;
}

.welcom-block__download-link:active {
    font-size: 19px;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #14131320;
}

.contacts__item{
    min-width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
} 

.info{
    display: flex;
    gap: 30px;
    margin-top: 48px;
}

.info__item {
    width: calc(50% - 30px);

}

.info__item-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info__item-text {
    display: flex;
    flex-direction: column;
}

.info__item-description {
    margin-top: 20px;
    margin-bottom: 0;
}

.content-block__text{
    background-color: #141313;
    color: #FFFFFF;
    min-height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    padding: 40px;
}

.experience {
display: flex;
margin-top: 50px;
background: linear-gradient(to right, #B86ADF, #FF6C63, #FFB147);
color: #FFFFFF; 

}

.resume {
    padding: 130px 8%;
    width: 45%;
}

.resume__btn {
    margin-top: 56px;
    height: 56px; 
    background-color: #141313;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 8px;
    padding: 0 6%;
}

.resume__description {
    padding-top: 30px;
    text-transform: uppercase;
}

.resume-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 130px 8%;
}

.resume-list__item {
    display: flex;
    flex-direction: column;
}

.resume-list__item-name {
    display: flex;
    justify-content: space-between;
}

.resume-list__item-description {
    padding: 32px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #FFFFFF20;
}

.resume__text {
    line-height: 28px;
    padding-top: 20px;
}

.team {
    padding: 130px 8%;
}

.team__inner {
    margin-top: 65px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right, #B86ADF, #FF6C63, #FFB147);
    background-size: 100% 1px;
    background-position: left bottom;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}

.team__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
}

.team__item-photo{
width: 60%;
max-width: 300px;
border-radius: 50%;
}

.team__item-name {
    margin-top: 30px;
    text-transform: uppercase;
    
}

.team__item-function {
    margin-top: 10px;
    padding-bottom: 50px;
    
    
}









.about__title, .resume__title, .resume-list__title, .team__item-function {
    font-family: 'IBM_Plex_Sans_SemiBoldItalic';
    font-size: 1em;
}

.about__description, .welcome-block__title, .info__item-number, .resume__description, .team__title {
    font-family: 'IBM_Plex_Sans_bold';
    font-size: 2.67em;
}

.welcome-block__description, .team__item-name  {
    font-family: 'IBM_Plex_Sans_SemiBoldItalic';
    font-size: 1.33em;
}

.welcom-block__download-link, .resume__btn {
    font-family: 'IBM_Plex_Sans_medium';
}

.contacts__item-text, .info__item-text {    
    font-family: 'IBM_Plex_Sans_BoldItalic';
}

.content-block__text {
    font-family: 'IBM_Plex_Sans_SemiBoldItalic';
    font-size: 1.11em;
}

.info__item-description, .resume__text {
font-family: 'IBM_Plex_Sans_regular';
}

.resume-list__item-description {
    font-family: 'IBM_Plex_Sans_BoldItalic';
    font-size: 1.5em;
}

.resume-list__item-name * {
font-family: 'IBM_Plex_Sans_medium';
font-size: 0.89em;
}
